nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: blueviolet;
    color: white;
    min-height: 2rem;
    text-decoration: none;
    padding: 1rem 2rem;

    ul {
        display: flex;
        gap: 1rem;
        list-style: none;   
    
        li a {
            text-decoration: none;
            color: white;

        }

        a:hover{
            text-decoration: underline;
            color: navy;
            }

        
    }
    
}